@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* ----------------------------------- Colours */
body {
    background-image: url(../images/Website\ Background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/* ----------------------------------- Nav Bar */

.page-nav {
    font-family: "Oswald, san-serif";
    font-size: 25px;
    font-weight: 700;
    background-color: #BDBDBD;
    width: 100%;
}

.navbar-nav {
    margin: auto;
    display: inline;
}

.nav-item {
    display: inline-block;
    text-align: center;
}

.page-nav ul li a {
    text-decoration: none;
    color: #fff;
}

.page-nav ul li a:hover {
    color: #EE1289;
}

.ui-home, 
.ui-about-us {
    text-align: right;
}

.ui-our-community,
.ui-join-us {
    text-align: left;
}

/* ----------------------------------- Header */

.header-div {
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
}

/* ----------------------------------- Logo */

.logo-border {
    background-image: url(../images/One\ Life\ Logo.png);
    border-radius: 50%;
    height: 150px;
    width: 150px;
    position: absolute;
    margin: 0;
    padding: 0;
}

.header-div {
    justify-content: center;
    display: flex;
}

/* ----------------------------------- Hero Image */

.hero-image {
    background-image: url(../images/Hero\ Image.jpg);
    background-color: rgba(0,0,0,0.8);
    background-size: 100% 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #fff;
}

.hero-element {
    width: 50%;
    text-align: center;
    font-family: "Oswald, san-serif";
    font-weight: 800;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
    padding: 20px;
}

.hero-element h1 {
    font-size: 50px;
    padding: 5px;
}

.hero-element h2 {
    padding: 3px;
}

.hero-element button {
    width: 20%;
    font-size: 20px;
    background-color: #D208FF;
    border-color: #D208FF;
    color: #fff;
    margin: 15px;
}

.hero-element button:hover {
    color: #fff;
    background-color: #8D00B6;
    border-color: #8D00B6;
}

/* ----------------------------------- Features Section */

.features {
    font-family: "Oswald, san-serif";
    font-weight: 500;
    text-align: center;
    margin-top: 25px;
}

.features p {
    font-family: "Exo, san-serif";
}

.features h1,
.features h3 {
    text-decoration: underline;
}

.features h1 {
    font-size: 50px;
    font-weight: 700;
    margin: 30px;
}

.features-element {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.features-text {
    background-color: #C9C9C9;
    /* background-color: rgba(0,0,0, 0.2); */
    border-radius: 25px;
    padding: 20px;
}

.events-img,
.admins-img,
.mature-img {
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    height: 300px;
    margin: 40px;
    padding: 10px;
    border: 2px solid white;
}

.events-img {
    background-image: url(../images/Event\ Image.png);
}

.admins-img {
    background-image: url(../images/Admin\ Image.png);
}

.mature-img {
    background-image: url(../images/Mature\ image.png);
}

/* ----------------------------------- Community Talent */

.community-container {
    text-align: center;
}

.community-talent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user1,
.user2,
.user3 {
    background-size: cover;
    background-repeat: no-repeat;
}

.user1 {
    background-image: url(../images/User\ Image\ 1.png);
}

.user2 {
    background-image: url(../images/User\ Image\ 2.png);
}

.user3 {
    background-image: url(../images/User\ Image\ 3.png);
}

